# Pre-processing of hotel data (2004â€“2018)
The dataset was sourced from a Tableau graph in [SF City Performance Scorecard](https://sfgov.org/scorecards/tourism).

In [1]:
# Dependencies
import pandas as pd
from dateutil import parser # to convert date strings to datetime format

In [2]:
# Create a dataframe from the csv file
hotel_df = pd.read_csv("hotel_indicators.csv")
hotel_df.head()

,Date,Seasonal Adjustment,Average Daily Rate,Hotel Occupancy,Revenue per Available Hotel Room
0,07/01/2004 00:00,Seasonally Adjusted,141.6038,0.738484,104.5721
1,08/01/2004 00:00,Seasonally Adjusted,143.1187,0.719571,102.9840
2,09/01/2004 00:00,Seasonally Adjusted,137.4212,0.750757,103.1699
3,10/01/2004 00:00,Seasonally Adjusted,141.5987,0.778466,110.2297
4,11/01/2004 00:00,Seasonally Adjusted,148.4632,0.682347,101.3035

In [3]:
# Choose only Date, Average Daily Rate, and Hotel Occupancy
hotel_df2 = hotel_df[["Date", "Average Daily Rate", "Hotel Occupancy"]]

In [4]:
# Format the Date to Year-Month
periods = hotel_df2["Date"].str.replace("/","-")
periods = [date[0:10] for date in periods] # excludes the time stamps

In [5]:
# Convert the MM/DD/YYYY format to YYYY-MM
periods = [parser.parse(date).strftime('%Y-%m') for date in periods]

In [6]:
# Insert the new date format into the dataframe and drop the original Date column
hotel_df2 = hotel_df2.drop(["Date"], axis = 1)
hotel_df2["Date"] = periods
hotel_df2.head()

   Average Daily Rate  Hotel Occupancy     Date
0            141.6038         0.738484  2004-07
1            143.1187         0.719571  2004-08
2            137.4212         0.750757  2004-09
3            141.5987         0.778466  2004-10
4            148.4632         0.682347  2004-11

In [7]:
# Save the file in the Data folder, ready for analyses and visualisation
hotel_df2.to_csv("../Data/hotel_dailyrates.csv", sep = ",", encoding = "utf-8", index = False)