# Airbnb Rate Analysis 

-Calculate the yearly average annual rate for each neigbourhood for each year, SD for each neigbourhood for each year, get the gragh to see the price trend, maps for the sf (later)

In [56]:
# Dependencies
import pandas as pd
import csv
import os

In [57]:
#Create a dataframe from the csv file
airbnb_df = pd.read_csv("./Data/Airbnb_listings.csv")
airbnb_df.head()

,Unnamed: 0,date,neighbourhood,property type,daily rate,annual rate (USD)
0,0,2016-10,Seacliff,House,$105.00,38325.0
1,1,2016-10,Seacliff,House,$300.00,109500.0
2,2,2016-10,Seacliff,Apartment,$175.00,63875.0
3,3,2016-10,Seacliff,House,$90.00,32850.0
4,4,2016-10,Seacliff,Condominium,$400.00,146000.0

In [58]:
#Clean the data
airbnb_df.columns

Index(['Unnamed: 0', 'date', 'neighbourhood', 'property type', 'daily rate',
       'annual rate (USD)'],
      dtype='object')

In [59]:
airbnb_rate = airbnb_df.drop(['Unnamed: 0'], axis=1)
airbnb_rate.head()

      date neighbourhood property type daily rate  annual rate (USD)
0  2016-10      Seacliff         House    $105.00            38325.0
1  2016-10      Seacliff         House    $300.00           109500.0
2  2016-10      Seacliff     Apartment    $175.00            63875.0
3  2016-10      Seacliff         House     $90.00            32850.0
4  2016-10      Seacliff   Condominium    $400.00           146000.0

In [60]:
data = airbnb_rate

In [61]:
#for each in data['date']:
  #  return each[:4]

In [62]:
data['date'] = [each[:4] for each in data['date']]
data['date'].head()

0    2016
1    2016
2    2016
3    2016
4    2016
Name: date, dtype: object

In [65]:
data.head()
data_2015 = data[data['date'] == '2015'] 
data_2015

       date     neighbourhood property type daily rate  annual rate (USD)
24444  2015          Seacliff     Apartment    $350.00           127750.0
24445  2015          Seacliff         House    $300.00           109500.0
24446  2015          Seacliff         House    $119.00            43435.0
24447  2015          Seacliff     Apartment     $79.00            28835.0
24448  2015          Seacliff     Apartment    $695.00           253675.0
24449  2015          Seacliff     Apartment     $80.00            29200.0
24450  2015          Seacliff         House    $135.00            49275.0
24451  2015          Seacliff     Apartment    $215.00            78475.0
24452  2015          Seacliff         House    $250.00            91250.0
24453  2015          Seacliff     Apartment    $224.00            81760.0
24454  2015          Seacliff     Apartment    $150.00            54750.0
24455  2015          Seacliff     Apartment    $325.00           118625.0
24456  2015          Seacliff         House    $675.00           246375.0
24457  2015    Haight Ashbury     Apartment    $120.00            43800.0
24458  2015    Haight Ashbury         House    $136.00            49640.0
24459  2015    Haight Ashbury     Apartment    $250.00            91250.0
24460  2015    Haight Ashbury     Apartment    $100.00            36500.0
24461  2015    Haight Ashbury     Apartment     $92.00            33580.0
24462  2015    Haight Ashbury     Apartment    $125.00            45625.0
24463  2015    Haight Ashbury     Apartment    $185.00            67525.0
24464  2015    Haight Ashbury     Apartment    $200.00            73000.0
24465  2015    Haight Ashbury     Apartment    $165.00            60225.0
24466  2015    Haight Ashbury         House    $185.00            67525.0
24467  2015    Haight Ashbury     Apartment    $225.00            82125.0
24468  2015    Haight Ashbury     Apartment    $200.00            73000.0
24469  2015    Haight Ashbury         House     $96.00            35040.0
24470  2015    Haight Ashbury     Apartment     $77.00            28105.0
24471  2015    Haight Ashbury     Apartment     $99.00            36135.0
24472  2015    Haight Ashbury     Apartment    $100.00            36500.0
24473  2015    Haight Ashbury     Apartment     $85.00            31025.0
...     ...               ...           ...        ...                ...
50394  2015  Western Addition     Apartment    $225.00            82125.0
50395  2015  Western Addition         House     $48.00            17520.0
50396  2015  Western Addition         House  $5,000.00          1825000.0
50397  2015  Western Addition     Apartment    $141.00            51465.0
50398  2015  Western Addition     Apartment     $80.00            29200.0
50399  2015  Western Addition          Loft    $190.00            69350.0
50400  2015  Western Addition     Apartment    $165.00            60225.0
50401  2015  Western Addition     Apartment    $150.00            54750.0
50402  2015  Western Addition         House     $75.00            27375.0
50403  2015  Western Addition     Apartment    $260.00            94900.0
50404  2015  Western Addition     Apartment    $175.00            63875.0
50405  2015  Western Addition     Apartment    $129.00            47085.0
50406  2015  Western Addition     Apartment    $160.00            58400.0
50407  2015  Western Addition     Apartment     $71.00            25915.0
50408  2015  Western Addition     Apartment     $90.00            32850.0
50409  2015  Western Addition     Apartment     $81.00            29565.0
50410  2015  Western Addition     Apartment     $70.00            25550.0
50411  2015  Western Addition   Condominium    $249.00            90885.0
50412  2015  Western Addition     Apartment    $115.00            41975.0
50413  2015  Western Addition     Apartment    $160.00            58400.0
50414  2015  Western Addition     Apartment     $99.00            36135.0
50415  2015  Western Addition     Apartment     $70.00            25550.0
50416  2015  Western Addition     Apartment    $220.00            80300.0
50417  2015  Western Addition     Apartment    $115.00            41975.0
50418  2015  Western Addition     Apartment    $200.00            73000.0
50419  2015  Western Addition     Apartment     $79.00            28835.0
50420  2015  Western Addition     Apartment    $200.00            73000.0
50421  2015  Western Addition   Condominium    $116.00            42340.0
50422  2015  Western Addition     Apartment    $400.00           146000.0
50423  2015  Western Addition         House    $135.00            49275.0

[25980 rows x 5 columns]

In [68]:
data_year_2015 = data[data["date"] == '2015']
avg_2015 = data_year_2015.groupby(['neighbourhood'])["annual rate (USD)"].mean()
df = pd.DataFrame({
    'neighbourhood':avg_2015.index,
    'Annual Average':avg_2015.values
})

merged_2015 = pd.merge(data_2015, df, on="neighbourhood")
merged_2015.head()

,date,neighbourhood,property type,daily rate,annual rate (USD),Annual Average
0,2015,Seacliff,Apartment,$350.00,127750.0,90754.150943
1,2015,Seacliff,House,$300.00,109500.0,90754.150943
2,2015,Seacliff,House,$119.00,43435.0,90754.150943
3,2015,Seacliff,Apartment,$79.00,28835.0,90754.150943
4,2015,Seacliff,Apartment,$695.00,253675.0,90754.150943

In [17]:
data_year_2016 = data[data["date"] == '2016']
avg_2016 = data_year_2016.groupby(['neighbourhood'])["annual rate (USD)"].mean()
avg_2016.head()
df = pd.Data

neighbourhood
Bayview                 58118.039049
Bernal Heights          77447.149051
Castro/Upper Market     97370.541370
Chinatown              108057.512626
Crocker Amazon          43735.507519
Name: annual rate (USD), dtype: float64

In [14]:
data_year_2017 = data[data["date"] == '2017']
avg_2017 = data_year_2017.groupby(['neighbourhood'])["annual rate (USD)"].mean()
avg_2017.head()

neighbourhood
Bayview                45354.454349
Bernal Heights         72724.984682
Castro/Upper Market    90733.812922
Chinatown              99129.416191
Crocker Amazon         35399.721074
Name: annual rate (USD), dtype: float64

In [74]:
new_df = pd.DataFrame({
    "date":['2015', '2016', '2017'],
    "neighbourhood":[avg_2015.index[0:], avg_2016.index[0], avg_2017.index[0]],
    "Average Annual Rate":[avg_2015.values[0], avg_2016.values[0], avg_2017.values[0]]
})

new_df

   date neighbourhood  Average Annual Rate
0  2015       Bayview         46374.210526
1  2016       Bayview         58118.039049
2  2017       Bayview         45354.454349