# Cleaning up the data and merging csv files

In [1]:
# Dependencies
import pandas as pd

In [2]:
# get csv files
Airbnb_201505 = pd.read_csv("20150504 listings.csv")
Airbnb_201505.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,picture_url,host_id,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,requires_license,license,jurisdiction_names,calculated_host_listings_count,reviews_per_month
0,295240,https://www.airbnb.com/rooms/295240,20150504112114,2015-05-04,Luxury Apartment Oasis w/ Hot Tub,NaN,This lower apartment unit is total private and...,This lower apartment unit is total private and...,https://a1.muscache.com/ic/pictures/3090603/49...,1525192,...,10.0,10.0,10.0,10.0,10.0,t,NaN,SAN FRANCISCO,1,0.6
1,4882829,https://www.airbnb.com/rooms/4882829,20150504112114,2015-05-04,Private room in Inner Richmond,NaN,This is a great & extremely safe neighborhood ...,This is a great & extremely safe neighborhood ...,https://a2.muscache.com/ic/pictures/61369530/c...,25118670,...,NaN,NaN,NaN,NaN,NaN,t,NaN,SAN FRANCISCO,1,1.0
2,4850420,https://www.airbnb.com/rooms/4850420,20150504112114,2015-05-04,Edge of SOMA + the Mission,Perfect Christmas getaway to SF on the edge of...,NaN,Perfect Christmas getaway to SF on the edge of...,https://a1.muscache.com/ic/pictures/60818090/a...,1358761,...,NaN,NaN,NaN,NaN,NaN,t,NaN,SAN FRANCISCO,1,NaN
3,1278848,https://www.airbnb.com/rooms/1278848,20150504112114,2015-05-04,Sunny Nob Hill 1 br (entire apt),NaN,This is a charming 1 bedroom apartment on the ...,This is a charming 1 bedroom apartment on the ...,https://a2.muscache.com/ic/pictures/19278951/c...,6959333,...,7.0,9.0,10.0,9.0,8.0,t,NaN,SAN FRANCISCO,1,0.5
4,5068275,https://www.airbnb.com/rooms/5068275,20150504112114,2015-05-04,Huge & Sunny 1BR Loft,"1BR/1BA loft with 30-ft high ceilings, large ...","With 30-foot high ceilings, this 1BR/1BA loft ...","1BR/1BA loft with 30-ft high ceilings, large ...",https://a2.muscache.com/ic/pictures/65250390/b...,350767,...,9.0,8.0,8.0,10.0,9.0,t,NaN,SAN FRANCISCO,1,1.7

In [3]:
# select columns for use in the data analyses
Airbnb_201505_df = Airbnb_201505[["neighbourhood_cleansed", "property_type", "price"]]
Airbnb_201505_df.head()

  neighbourhood_cleansed property_type    price
0    Castro/Upper Market         House  $250.00
1         Inner Richmond     Apartment   $89.00
2        South of Market     Apartment  $164.00
3               Nob Hill     Apartment  $170.00
4           Potrero Hill     Apartment  $185.00

In [4]:
# Convert the price to annual rate from daily rate
daily_rate = Airbnb_201505_df["price"].str.replace("$","") # data is string
daily_rate = daily_rate.str.replace(",","") # data is still string
daily_rate = daily_rate.astype(float)

Airbnb_201505_df["annual rate"] = daily_rate * 365
Airbnb_201505_df.head()

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

  neighbourhood_cleansed property_type    price  annual rate
0    Castro/Upper Market         House  $250.00      91250.0
1         Inner Richmond     Apartment   $89.00      32485.0
2        South of Market     Apartment  $164.00      59860.0
3               Nob Hill     Apartment  $170.00      62050.0
4           Potrero Hill     Apartment  $185.00      67525.0

In [5]:
Airbnb_201505_df["date"] = pd.to_datetime("2015-05")

Airbnb_201505_df.head()

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

  neighbourhood_cleansed property_type    price  annual rate       date
0    Castro/Upper Market         House  $250.00      91250.0 2015-05-01
1         Inner Richmond     Apartment   $89.00      32485.0 2015-05-01
2        South of Market     Apartment  $164.00      59860.0 2015-05-01
3               Nob Hill     Apartment  $170.00      62050.0 2015-05-01
4           Potrero Hill     Apartment  $185.00      67525.0 2015-05-01