# Cleaning up the data and merging csv files from 2015

In [1]:
# Dependencies
import pandas as pd
import os
import re # for filtering list of files

In [2]:
# List down csv files
files = os.listdir()
r = re.compile(".*listings")
newlist = list(filter(r.match, files))

newlist

['20151102 listings.csv',
 '20150504 listings.csv',
 '20150902 listings.csv',
 '20151202 listings.csv']

In [3]:
# list of csv file contents
Airbnb_dflist = [pd.read_csv(file) for file in newlist]

In [4]:
# parsing the names for the dataframes

file_names = [file_name[0:8] for file_name in newlist] 
file_names

['20151102', '20150504', '20150902', '20151202']

In [5]:
# put two lists into a dictionary (first list has names of files; second list has the contents of the csv files)

Airbnb_df_dict = dict(zip(file_names,Airbnb_dflist))

In [6]:
# extract a list of neighbourhoods for all periods in 2015
neighbourhoods = []
for key,value in Airbnb_df_dict.items():
    for k,v in Airbnb_df_dict[key].items():
        if k == "neighbourhood_cleansed":
            for i in v:
                neighbourhoods.append(i)

In [7]:
# extract a list of property types for all periods in 2015
property_type = []
for key, value in Airbnb_df_dict.items():
    for k,v in Airbnb_df_dict[key].items():
        if k == "property_type":
            for i in v:
                property_type.append(i)

In [8]:
# extract a list of daily rates for all periods in 2015
daily_rates = []
for key, value in Airbnb_df_dict.items():
    for k,v in Airbnb_df_dict[key].items():
        if k == "price":
            for i in v:
                daily_rates.append(i)

In [9]:
# extract a list of dates for all periods in 2015
dates = []
for key, value in Airbnb_df_dict.items():
    for k,v in Airbnb_df_dict[key].items():
        if k == "last_scraped":
            for i in v:
                dates.append(i)

# convert dates to year-month format

dates2 = []
for i in dates:
    dates2.append(i[0:7])

In [10]:
# create a new dataframe containing the lists of dates, neighbourhoods, property types, and daily rates

Airbnb_2015_df = pd.DataFrame({"date": dates2,
                          "neighbourhood": neighbourhoods,
                          "property type": property_type,
                          "daily rate": daily_rates})

In [11]:
# Convert the price to annual rate from daily rate

daily_rate= Airbnb_2015_df["daily rate"].str.replace("$","") # data is string
daily_rate = daily_rate.str.replace(",","") # data is still string
daily_rate = daily_rate.astype(float)
Airbnb_2015_df["annual rate"] = daily_rate * 365

In [12]:
# view file 

Airbnb_2015_df.head()

      date neighbourhood property type daily rate  annual rate
0  2015-11      Seacliff     Apartment    $350.00     127750.0
1  2015-11      Seacliff         House    $300.00     109500.0
2  2015-11      Seacliff         House    $119.00      43435.0
3  2015-11      Seacliff     Apartment     $79.00      28835.0
4  2015-11      Seacliff     Apartment    $695.00     253675.0

In [13]:
# save as csv

Airbnb_2015_df.to_csv("Airbnb_2015.csv", sep = ",", encoding = "utf-8")