In [13]:
# Import Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import csv
pd.set_option('display.max_rows',50)

In [14]:
# Create a path to the csv and read it into a Pandas DataFrame
#csv_path = "Assessor_Historical_Secured_Property_Tax_Rolls.csv"
csv_path = "combine_updated2.csv"
rent_path = "../Rent Data/rent.csv"
home_df = pd.read_csv(csv_path, encoding='utf8', engine='python')
rent_df = pd.read_csv(rent_path, encoding='utf8', engine='python')

In [15]:
home_df.head()

,Unnamed: 0,Assessor Neighborhood,Closed Roll Year,Assessed Land Value,Pct Change
0,0,Bayview,2007,146817.391167,0
1,1,Bayview,2008,155151.982767,0
2,2,Bayview,2009,171617.607600,0
3,3,Bayview,2010,175450.544900,0
4,4,Bayview,2011,175691.806133,0

In [16]:
rent_df.head()

,Unnamed: 0,Region Name,Region Type,Data Type,2011,2012,2013,2014,2015,2016,2017,Avg Rent Rate,City,Lat,Lng
0,0,Bayview,neighborhood,All Homes,30723,28821,30433,35338,42870,45681,45747,37087.571429,San Francisco,37.730416,-122.384424
1,1,Bernal Heights,neighborhood,All Homes,34471,35739,38924,43654,53977,54833,53741,45048.428571,San Francisco,37.738950,-122.415201
2,2,Buena Vista,neighborhood,All Homes,42407,45678,49364,53889,61646,65690,61917,54370.142857,San Francisco,37.806504,-122.420778
3,3,Corona Heights,neighborhood,All Homes,41051,44269,48263,52768,61781,64072,59849,53150.428571,San Francisco,37.761812,-122.443185
4,4,Cow Hollow,neighborhood,All Homes,52856,52816,56455,62256,75947,78557,71952,64405.571429,San Francisco,37.798033,-122.439646

In [17]:
my_col_names = list(rent_df.columns.values)[4:11]
melted_df = pd.melt(rent_df,id_vars=["Region Name","Region Type","Data Type"],
                    value_vars=my_col_names, var_name="Year",value_name="Yearly Rent Price")

In [18]:
melted_df.head()

      Region Name   Region Type  Data Type  Year  Yearly Rent Price
0         Bayview  neighborhood  All Homes  2011              30723
1  Bernal Heights  neighborhood  All Homes  2011              34471
2     Buena Vista  neighborhood  All Homes  2011              42407
3  Corona Heights  neighborhood  All Homes  2011              41051
4      Cow Hollow  neighborhood  All Homes  2011              52856

In [19]:
melted_df["Year"] = melted_df["Year"].astype("int64")

In [20]:
rent_df2 = pd.merge(melted_df,rent_df.loc[:,["Region Name","Region Type","Data Type","City","Lat","Lng"]])

In [21]:
rent_df2.head()

,Region Name,Region Type,Data Type,Year,Yearly Rent Price,City,Lat,Lng
0,Bayview,neighborhood,All Homes,2011,30723,San Francisco,37.730416,-122.384424
1,Bayview,neighborhood,All Homes,2012,28821,San Francisco,37.730416,-122.384424
2,Bayview,neighborhood,All Homes,2013,30433,San Francisco,37.730416,-122.384424
3,Bayview,neighborhood,All Homes,2014,35338,San Francisco,37.730416,-122.384424
4,Bayview,neighborhood,All Homes,2015,42870,San Francisco,37.730416,-122.384424

In [26]:
rent_df2 = rent_df2.rename(columns={'Region Name': 'Neighborhood'})
home_df = home_df.rename(columns={'Assessor Neighborhood': 'Neighborhood', 'Closed Roll Year': 'Year'})

In [29]:
merged = pd.merge(home_df,rent_df2, 
                  how='inner',
                  left_on=["Neighborhood","Year"],
                  right_on=["Neighborhood","Year"])
merged

,Neighborhood,Year,Assessed Land Value,Pct Change,Region Type,Data Type,Yearly Rent Price,City,Lat,Lng
0,Bayview,2011,175691.806133,0,neighborhood,All Homes,30723,San Francisco,37.730416,-122.384424
1,Bayview,2012,177818.914467,0,neighborhood,All Homes,28821,San Francisco,37.730416,-122.384424
2,Bayview,2013,182203.741400,0,neighborhood,All Homes,30433,San Francisco,37.730416,-122.384424
3,Bayview,2014,185691.451367,0,neighborhood,All Homes,35338,San Francisco,37.730416,-122.384424
4,Bayview,2015,198571.039233,0,neighborhood,All Homes,42870,San Francisco,37.730416,-122.384424
5,Bayview,2016,223100.197133,0,neighborhood,All Homes,45681,San Francisco,37.730416,-122.384424
6,Bernal Heights,2011,228865.782800,0,neighborhood,All Homes,34471,San Francisco,37.738950,-122.415201
7,Bernal Heights,2012,241607.198400,0,neighborhood,All Homes,35739,San Francisco,37.738950,-122.415201
8,Bernal Heights,2013,252609.859300,0,neighborhood,All Homes,38924,San Francisco,37.738950,-122.415201
9,Bernal Heights,2014,270243.422800,0,neighborhood,All Homes,43654,San Francisco,37.738950,-122.415201
10,Bernal Heights,2015,292751.019900,0,neighborhood,All Homes,53977,San Francisco,37.738950,-122.415201
11,Bernal Heights,2016,324871.445700,0,neighborhood,All Homes,54833,San Francisco,37.738950,-122.415201
12,Buena Vista,2011,422857.419400,0,neighborhood,All Homes,42407,San Francisco,37.806504,-122.420778
13,Buena Vista,2012,443629.306500,0,neighborhood,All Homes,45678,San Francisco,37.806504,-122.420778
14,Buena Vista,2013,474521.277100,0,neighborhood,All Homes,49364,San Francisco,37.806504,-122.420778
15,Buena Vista,2014,497350.767700,0,neighborhood,All Homes,53889,San Francisco,37.806504,-122.420778
16,Buena Vista,2015,524772.200300,0,neighborhood,All Homes,61646,San Francisco,37.806504,-122.420778
17,Buena Vista,2016,564796.080200,0,neighborhood,All Homes,65690,San Francisco,37.806504,-122.420778
18,Corona Heights,2011,342979.050400,0,neighborhood,All Homes,41051,San Francisco,37.761812,-122.443185
19,Corona Heights,2012,364459.862400,0,neighborhood,All Homes,44269,San Francisco,37.761812,-122.443185
20,Corona Heights,2013,379856.647000,0,neighborhood,All Homes,48263,San Francisco,37.761812,-122.443185
21,Corona Heights,2014,403671.123700,0,neighborhood,All Homes,52768,San Francisco,37.761812,-122.443185
22,Corona Heights,2015,424334.137500,0,neighborhood,All Homes,61781,San Francisco,37.761812,-122.443185
23,Corona Heights,2016,449347.919500,0,neighborhood,All Homes,64072,San Francisco,37.761812,-122.443185
24,Cow Hollow,2011,518223.255900,0,neighborhood,All Homes,52856,San Francisco,37.798033,-122.439646
...,...,...,...,...,...,...,...,...,...,...
345,Upper Market,2016,535998.971350,0,neighborhood,All Homes,55207,San Francisco,37.754324,-122.443555
346,Visitacion Valley,2011,145537.009300,0,neighborhood,All Homes,29865,San Francisco,37.717175,-122.404251
347,Visitacion Valley,2012,148580.239100,0,neighborhood,All Homes,28593,San Francisco,37.717175,-122.404251
348,Visitacion Valley,2013,155854.134800,0,neighborhood,All Homes,31176,San Francisco,37.717175,-122.404251
349,Visitacion Valley,2014,165360.865800,0,neighborhood,All Homes,34997,San Francisco,37.717175,-122.404251
350,Visitacion Valley,2015,175324.845900,0,neighborhood,All Homes,41458,San Francisco,37.717175,-122.404251
351,Visitacion Valley,2016,187287.206800,0,neighborhood,All Homes,44562,San Francisco,37.717175,-122.404251
352,Western Addition,2011,377315.851933,0,neighborhood,All Homes,34341,San Francisco,37.782211,-122.434178
353,Western Addition,2012,390879.835100,0,neighborhood,All Homes,37841,San Francisco,37.782211,-122.434178
354,Western Addition,2013,397116.486567,0,neighborhood,All Homes,43551,San Francisco,37.782211,-122.434178
355,Western Addition,2014,416479.755267,0,neighborhood,All Homes,47975,San Francisco,37.782211,-122.434178
356,Western Addition,2015,438925.682767,0,neighborhood,All Homes,54058,San Francisco,37.782211,-122.434178
357,Western Addition,2016,469037.684200,0,neighborhood,All Homes,54934,San Francisco,37.782211,-122.434178
358,Westwood Highlands,2011,310130.998200,0,neighborhood,All Homes,38955,San Francisco,37.733250,-122.456632
359,Westwood Highlands,2012,320309.284700,0,neighborhood,All Homes,38086,San Francisco,37.733250,-122.456632
360,Westwood Highlands,2013,329153.003700,0,neighborhood,All Homes,37890,San Francisco,37.733250,-122.456632
361,Westwood Highlands,2014,344339.629200,0,neighborhood,All Homes,45668,San Francisco,37.733250,-122.456632
362,Westwood Highlands,2015,369263.393000,0,neighborhood,All Homes,56137,San Francisco,37.733250,-122.456632
363,Westwood Highlands,2016,386926.317300,0,neighborhood,All Homes,58110,San Francisco,37.733250,-122.456632
364,Westwood Park,2011,232168.281700,0,neighborhood,All Homes,33709,San Francisco,37.726101,-122.456632
365,Westwood Park,2012,248945.325500,0,neighborhood,All Homes,34381,San Francisco,37.726101,-122.456632
366,Westwood Park,2013,254389.303600,0,neighborhood,All Homes,35900,San Francisco,37.726101,-122.456632
367,Westwood Park,2014,272476.956500,0,neighborhood,All Homes,43402,San Francisco,37.726101,-122.456632
368,Westwood Park,2015,287522.178300,0,neighborhood,All Homes,50441,San Francisco,37.726101,-122.456632
369,Westwood Park,2016,315942.496100,0,neighborhood,All Homes,53177,San Francisco,37.726101,-122.456632

In [30]:
#combined.to_csv('combine.csv', sep=',', encoding='utf-8')

merged.to_csv('merged.csv', sep=',', encoding='utf-8')