### Importing Dependencies

In [1]:
# Dependencies
import pandas as pd
import numpy as np

### Creating Dataframe from the csv file

In [2]:
#Create a dataframe from the csv file
rent_df = pd.read_csv("rent_raw.csv")
rent_df.head()

,Region Name,Region Type,Data Type,Nov-10,Dec-10,Jan-11,Feb-11,Mar-11,Apr-11,May-11,...,Dec-17,Jan-18,Feb-18,Mar-18,Apr-18,May-18,Jun-18,Jul-18,Aug-18,Sep-18
0,Bayview,neighborhood,All Homes,3183,3179,3078,2917,2706,2571,2480,...,3713,3663,3624,3602,3579,3558,3535,3519,3508,3502
1,Bernal Heights,neighborhood,All Homes,3155,3146,3110,3013,2882,2798,2763,...,4490,4470,4457,4448,4444,4440,4443,4451,4459,4465
2,Buena Vista,neighborhood,All Homes,3551,3604,3636,3601,3514,3413,3362,...,5207,5155,5139,5158,5187,5203,5201,5198,5203,5212
3,Corona Heights,neighborhood,All Homes,3504,3544,3551,3500,3406,3316,3261,...,5082,5070,5057,5060,5069,5082,5086,5087,5087,5083
4,Cow Hollow,neighborhood,All Homes,4243,4401,4438,4412,4324,4319,4370,...,6050,6061,6052,6034,6009,5979,5964,5972,6013,6065

### Cleaning Data and Creating new DataFrame

In [3]:
# Remove the Region Type, Data Type columns
rent_df = rent_df.drop(["Region Type", "Data Type"], axis = 1)

In [4]:
# Rename the columns
rent_df = rent_df.rename(columns = {"Region Name": "Neighborhood"})
rent_df.head()

,Neighborhood,Nov-10,Dec-10,Jan-11,Feb-11,Mar-11,Apr-11,May-11,Jun-11,Jul-11,...,Dec-17,Jan-18,Feb-18,Mar-18,Apr-18,May-18,Jun-18,Jul-18,Aug-18,Sep-18
0,Bayview,3183,3179,3078,2917,2706,2571,2480,2450,2437,...,3713,3663,3624,3602,3579,3558,3535,3519,3508,3502
1,Bernal Heights,3155,3146,3110,3013,2882,2798,2763,2767,2780,...,4490,4470,4457,4448,4444,4440,4443,4451,4459,4465
2,Buena Vista,3551,3604,3636,3601,3514,3413,3362,3371,3428,...,5207,5155,5139,5158,5187,5203,5201,5198,5203,5212
3,Corona Heights,3504,3544,3551,3500,3406,3316,3261,3265,3307,...,5082,5070,5057,5060,5069,5082,5086,5087,5087,5083
4,Cow Hollow,4243,4401,4438,4412,4324,4319,4370,4442,4495,...,6050,6061,6052,6034,6009,5979,5964,5972,6013,6065

In [5]:
# Get a series of neighbourhoods
neighborhood = rent_df["Neighborhood"]

In [6]:
# Create a function that returns the sum per row per year

def totals(df,str): # where str is the last two digits of the year
    year = df.filter(regex = str, axis = 1) # filter the columns based on the str
    
    return year.sum(axis = 1) # get the sum per row

In [7]:
# Create a list of years (with data for 12 months)
year_list = list(np.arange(11,18)) # creates a list of floats covering the year range of rent_df
year_list_str = [str(item) for item in year_list] # converts numbers to string
    
year_list_str

['11', '12', '13', '14', '15', '16', '17']

In [8]:
# Create an array of yearly rates per neighbourhood using the totals function
yearly_rate = [totals(rent_df,year) for year in year_list_str]

In [9]:
# Create a list of keys by adding "20" to the last two digits of the year
keys = year_list_str
keys = ["20" + key for key in keys]

# Insert Neighbourhood as a key
keys.insert(0,"Neighborhood")
keys

['Neighborhood', '2011', '2012', '2013', '2014', '2015', '2016', '2017']

In [10]:
# Create a list of values by adding the neighbourhood series to the yearly_rate array
values = yearly_rate
values.insert(0,neighborhood)
values

[0                   Bayview
 1            Bernal Heights
 2               Buena Vista
 3            Corona Heights
 4                Cow Hollow
 5            Crocker Amazon
 6           Diamond Heights
 7                  Downtown
 8                 Excelsior
 9        Financial District
 10              Forest Hill
 11            Forest Knolls
 12                Glen Park
 13      Golden Gate Heights
 14                   Haight
 15             Hayes Valley
 16                Ingleside
 17        Ingleside Heights
 18        Ingleside Terrace
 19           Inner Richmond
 20             Inner Sunset
 21                     Lake
 22                Lakeshore
 23           Laurel Heights
 24         Little Hollywood
 25            Lone Mountain
 26    Lower Pacific Heights
 27                   Marina
 28          Midtown Terrace
 29            Miraloma Park
               ...
 33     Mount Davidson Manor
 34                 Nob Hill
 35               Noe Valley
 36              North Beach
 37         North Waterfront
 38                Oceanview
 39            Outer Mission
 40           Outer Richmond
 41             Outer Sunset
 42          Pacific Heights
 43                Panhandle
 44                 Parkside
 45                  Portola
 46             Potrero Hill
 47         Presidio Heights
 48             Russian Hill
 49                 Seacliff
 50           Silver Terrace
 51              South Beach
 52          South of Market
 53         St. Francis Wood
 54               Stonestown
 55                Sunnyside
 56           Telegraph Hill
 57               Twin Peaks
 58             Upper Market
 59        Visitacion Valley
 60         Western Addition
 61       Westwood Highlands
 62            Westwood Park
 Name: Neighborhood, Length: 63, dtype: object, 0      30723
 1      34471
 2      42407
 3      41051
 4      52856
 5      31133
 6      36285
 7      30867
 8      31277
 9      50749
 10     48312
 11     37977
 12     39661
 13     41205
 14     40705
 15     37659
 16     30815
 17     29344
 18     42007
 19     42140
 20     38809
 21     53120
 22     36655
 23     53096
 24     30344
 25     40284
 26     35917
 27     51035
 28     35627
 29     37254
        ...
 33     36736
 34     42413
 35     44162
 36     37995
 37     34702
 38     30397
 39     30807
 40     33598
 41     31582
 42     52744
 43     37596
 44     33088
 45     31881
 46     36907
 47    127688
 48     44766
 49    101636
 50     30945
 51     39710
 52     34134
 53     69361
 54     40306
 55     32209
 56     39437
 57     39640
 58     37292
 59     29865
 60     34341
 61     38955
 62     33709
 Length: 63, dtype: int64, 0      28821
 1      35739
 2      45678
 3      44269
 4      52816
 5      29851
 6      37187
 7      32413
 8      29939
 9      49586
 10     46451
 11     40084
 12     38692
 13     39673
 14     43470
 15     42695
 16     30007
 17     29281
 18     39465
 19     42804
 20     38314
 21     50271
 22     34822
 23     52995
 24     28978
 25     42581
 26     39761
 27     52040
 28     37669
 29     36974
        ...
 33     36010
 34     44622
 35     44754
 36     41975
 37     38590
 38     29645
 39     29746
 40     35080
 41     32118
 42     52688
 43     42397
 44     33713
 45     30348
 46     39975
 47    123665
 48     46269
 49     95365
 50     29512
 51     41019
 52     37410
 53     65532
 54     37921
 55     32308
 56     42125
 57     39891
 58     40576
 59     28593
 60     37841
 61     38086
 62     34381
 Length: 63, dtype: int64, 0      30433
 1      38924
 2      49364
 3      48263
 4      56455
 5      32700
 6      40827
 7      37094
 8      32073
 9      56336
 10     52137
 11     40165
 12     40460
 13     41132
 14     46185
 15     45522
 16     32206
 17     30830
 18     40905
 19     46078
 20     39644
 21     55084
 22     37181
 23     58366
 24     31431
 25     45762
 26     43776
 27     58240
 28     39682
 29     38700
        ...
 33     37598
 34     48324
 35     49995
 36     47594
 37     44866
 38     31425
 39     32378
 40     37893
 41     35341
 42     55809
 43     44105
 44     36523
 45     32281
 46     43740
 47    139274
 48     51547
 49    108971
 50     31076
 51     47255
 52     40589
 53     68816
 54     39094
 55     35156
 56     46954
 57     41426
 58     42612
 59     31176
 60     43551
 61     37890
 62     35900
 Length: 63, dtype: int64, 0      35338
 1      43654
 2      53889
 3      52768
 4      62256
 5      35965
 6      45496
 7      41836
 8      36329
 9      59751
 10     55429
 11     47934
 12     46253
 13     47530
 14     51620
 15     50234
 16     36867
 17     35377
 18     48414
 19     54086
 20     46726
 21     64645
 22     42678
 23     65464
 24     35330
 25     50898
 26     48677
 27     63926
 28     44805
 29     44368
        ...
 33     44049
 34     51749
 35     53547
 36     49460
 37     45927
 38     36191
 39     35883
 40     44089
 41     40952
 42     60294
 43     49299
 44     41617
 45     36471
 46     48146
 47    151423
 48     55759
 49    118992
 50     36568
 51     51133
 52     45420
 53     72159
 54     44954
 55     39570
 56     49743
 57     45785
 58     48107
 59     34997
 60     47975
 61     45668
 62     43402
 Length: 63, dtype: int64, 0      42870
 1      53977
 2      61646
 3      61781
 4      75947
 5      42999
 6      52941
 7      45888
 8      43399
 9      75575
 10     67766
 11     61497
 12     58964
 13     56869
 14     59076
 15     57185
 16     44021
 17     42041
 18     59744
 19     64403
 20     54878
 21     77554
 22     49551
 23     83258
 24     41639
 25     59236
 26     56145
 27     77660
 28     52528
 29     52094
        ...
 33     53196
 34     62760
 35     64871
 36     58693
 37     52775
 38     42631
 39     43435
 40     49632
 41     46329
 42     76171
 43     56483
 44     47293
 45     44678
 46     57273
 47    177832
 48     65678
 49    150193
 50     43563
 51     58609
 52     51266
 53     94538
 54     55618
 55     46798
 56     58743
 57     54840
 58     55634
 59     41458
 60     54058
 61     56137
 62     50441
 Length: 63, dtype: int64, 0      45681
 1      54833
 2      65690
 3      64072
 4      78557
 5      46775
 6      54683
 7      48147
 8      47102
 9      73448
 10     72182
 11     61292
 12     61949
 13     62153
 14     61462
 15     57397
 16     47426
 17     44217
 18     64533
 19     67152
 20     58611
 21     80636
 22     54499
 23     86230
 24     44587
 25     63177
 26     54229
 27     79339
 28     53875
 29     54622
        ...
 33     56955
 34     64219
 35     67293
 36     57787
 37     53171
 38     46151
 39     46788
 40     53234
 41     49051
 42     77006
 43     57848
 44     50989
 45     48789
 46     57852
 47    193510
 48     66790
 49    160275
 50     46207
 51     57475
 52     50702
 53    105237
 54     59743
 55     50422
 56     57462
 57     62134
 58     55207
 59     44562
 60     54934
 61     58110
 62     53177
 Length: 63, dtype: int64, 0      45747
 1      53741
 2      61917
 3      59849
 4      71952
 5      45098
 6      52414
 7      43747
 8      45230
 9      68870
 10     68794
 11     55385
 12     56496
 13     58254
 14     57491
 15     55167
 16     44539
 17     42318
 18     60947
 19     63365
 20     54780
 21     80655
 22     51854
 23     83106
 24     43736
 25     60904
 26     53018
 27     76170
 28     50628
 29     52528
        ...
 33     54700
 34     60638
 35     64255
 36     54659
 37     50236
 38     43351
 39     44454
 40     50425
 41     46989
 42     71138
 43     55198
 44     49167
 45     47583
 46     54759
 47    182993
 48     63153
 49    147824
 50     45820
 51     54793
 52     48045
 53    107361
 54     57069
 55     49296
 56     54675
 57     58433
 58     52907
 59     43284
 60     51436
 61     54588
 62     52141
 Length: 63, dtype: int64]

In [11]:
# Create a dataframe containing the yearly rates from 2011 to 2017 for the 62 neighbourhoods in SF 
year_rent_df = pd.DataFrame(dict(zip(keys, values)))
year_rent_df.head()

     Neighborhood   2011   2012   2013   2014   2015   2016   2017
0         Bayview  30723  28821  30433  35338  42870  45681  45747
1  Bernal Heights  34471  35739  38924  43654  53977  54833  53741
2     Buena Vista  42407  45678  49364  53889  61646  65690  61917
3  Corona Heights  41051  44269  48263  52768  61781  64072  59849
4      Cow Hollow  52856  52816  56455  62256  75947  78557  71952

In [12]:
# Save the file as csv file in the Data folder
year_rent_df.to_csv("../Data/yearly_rent.csv", encoding = "utf-8")