In [36]:
# Import Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import csv

In [37]:
# Create a path to the csv and read it into a Pandas DataFrame
#csv_path = "20160202 listings.csv"

airbnb20160202_df = pd.read_csv("20160202 listings.csv")

airbnb20160202_df.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,3168359,https://www.airbnb.com/rooms/3168359,20160201235901,2016-02-02,Charming & Private Ideal location,NaN,"Spacious, quiet and beautifully decorated, thi...","Spacious, quiet and beautifully decorated, thi...",none,"A favorite spot for both tourists and locals, ...",...,9.0,t,NaN,SAN FRANCISCO,f,strict,f,f,2,3.48
1,9824673,https://www.airbnb.com/rooms/9824673,20160201235901,2016-02-02,STUNNING HOUSE BY OCEAN BEACH,Our charming single family home has been taste...,NaN,Our charming single family home has been taste...,none,One of the most beautiful parts of San Francsi...,...,NaN,t,NaN,SAN FRANCISCO,f,strict,f,f,1,NaN
2,9033278,https://www.airbnb.com/rooms/9033278,20160201235901,2016-02-02,Gorgeous Ocean Views,"See the dolphins while hiking lands end, go to...",NaN,"See the dolphins while hiking lands end, go to...",none,NaN,...,NaN,t,NaN,SAN FRANCISCO,f,flexible,f,f,1,NaN
3,10469182,https://www.airbnb.com/rooms/10469182,20160201235901,2016-02-02,Cozy Garden Studio - Private Entry,Garden Studio with private entrance from the s...,Your private entrance leads to a beautiful gar...,Garden Studio with private entrance from the s...,none,Located in the quiet Outer Richmond District...,...,NaN,t,NaN,SAN FRANCISCO,f,flexible,f,f,1,NaN
4,8087607,https://www.airbnb.com/rooms/8087607,20160201235901,2016-02-02,Single Room Beautiful Beach Condo,"When I travel, my quiet beach side condo makes...",NaN,"When I travel, my quiet beach side condo makes...",none,NaN,...,NaN,t,NaN,SAN FRANCISCO,f,flexible,f,f,1,NaN

In [38]:
#Create DataFrame with column: "neighbourhood_cleansed","property_type","price"
airbnb20160202_df = airbnb20160202_df[["neighbourhood_cleansed","property_type","price"]]
airbnb20160202_df.head()

  neighbourhood_cleansed property_type    price
0               Seacliff     Apartment  $224.00
1               Seacliff         House  $325.00
2               Seacliff         House  $300.00
3               Seacliff         House  $120.00
4               Seacliff     Apartment   $79.00

In [53]:
#Calculate the annual price
daily_data = airbnb20160202_df["price"].str.replace("$","")
daily_data = daily_data.str.replace(",","")
daily_data = daily_data.astype(float)
airbnb20160202_df["annual rate"] = daily_data*365
airbnb20160202_df.head()

  neighbourhood_cleansed property_type    price  annual rate
0               Seacliff     Apartment  $224.00      81760.0
1               Seacliff         House  $325.00     118625.0
2               Seacliff         House  $300.00     109500.0
3               Seacliff         House  $120.00      43800.0
4               Seacliff     Apartment   $79.00      28835.0

In [54]:
#Add date to the DataFrame 
airbnb20160202_df["date"] = pd.to_datetime("2016-02")
airbnb20160202_df.head()

  neighbourhood_cleansed property_type    price  annual rate       date
0               Seacliff     Apartment  $224.00      81760.0 2016-02-01
1               Seacliff         House  $325.00     118625.0 2016-02-01
2               Seacliff         House  $300.00     109500.0 2016-02-01
3               Seacliff         House  $120.00      43800.0 2016-02-01
4               Seacliff     Apartment   $79.00      28835.0 2016-02-01